{% load media %}
{% load theme %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml" />
<title>{% block title %}Page Title{% endblock title %}</title>
<link rel="shortcut icon" href="/s/favicon.ico" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" id="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
{% ifequal style_group "groups-smart" %}
<link
	href="{% media_url %}/themes/{% theme %}/common.css"
	rel="stylesheet" media="all" type="text/css" />
{% else %}
<link
	href="{% media_url %}/themes/{% theme %}/common-basic.css"
	rel="stylesheet" media="all" type="text/css" />
{% endifequal %}
{% if use_javascript %}
<script type="text/javascript">
try{scrollTo(0,1);}catch(e){}
</script>
{% endif %}
{% block extrahead %}{% endblock extrahead %}
</head>
<body>
<div id="nonfooternav">
	<a name="top"></a>	
{% block header %}
{% endblock header %}
	<div id="container">
		{% block content %}
		{% endblock content %}
		{% block footer %}
		{% endblock footer %}
		<div id="footer">
<!--
<a href="/feedback/feature-suggestions/">建议一个新功能</a>
 <a href="/feedback/">反馈</a> 
			<br /><br />
-->
<a href="http://www.bupt.edu.cn" class="copyright">&copy; 2011 北京邮电大学</a></div>
	</div>
</div>
</body>
</html>
