{% extends "base_mobile.html" %}
{% load media %}
{% load theme %}

{% block header %}
<div id="navbar">
	<div class="breadcrumbs homepage">
		<a name="top" href="/"
		class="homelink">
{% ifequal style_group "groups-smart" %}
<img src="{% media_url %}/themes/{% theme %}/button/homelink.png" width="57"
		height="45" alt="首页" />{% else %}首页{% endifequal %}</a>
		{% block navbar %}{% endblock navbar %}
	</div>
</div>
{% endblock header %}

{% block footer %}
<div id="footerlinks"><a href="#top">回到顶端</a> | <a href="/">首页</a></div>
{% endblock footer %}
