{% extends "base_mobile.html" %}
{% load media %}
{% load theme %}

{% block title %}{{page.local_name}}{% endblock title %}

{% block extrahead %}
<link
	href="{% media_url %}/themes/{% theme %}/home.css"
	rel="stylesheet" media="all" type="text/css" />
{% endblock extrahead %}

{% block header %}

<h1 id="homelogo">
<!--
<img src="{% media_url %}/logo.png" width="265" height="45"
	alt="{{page.local_name}}" />
-->
	<img src="{% media_url %}/logo-home.png" width="265" height="45"
        alt="{{page.local_name}}" />
</h1>
{% endblock header %}

{% block content %}
{% comment %}
<div class="nonfocal" id="searchformcontainer">
<form method="get" action="search.php">
	<fieldset class="inputcombo emphasized">
	<input
	class="forminput" type="text" id="filter" name="filter"
	placeholder="检索掌上网院" value="" onfocus="androidPlaceholderFix(this);" />
	<input
	class="combobutton" id="sch_btn" src="/common/images/search-button.png"
	type="image" />
	<input type="hidden" name="_b"
	value="%8B%AEV%2AQ%B2R%8A%29%B5%B4%B44%03%92%16%E6%A6J%3AJ9X%C4%0A%80B%99y%29%A9%15%40v%A2%92U%5EiNNm%2C%00" />
	</fieldset>
</form>
</div>
{% endcomment %}
	<div class="springboard" id="homegrid">
{% for app in apps %}
	<div><a href="{{app.getUrl}}">
		<img
	src="{{app.getIconUrl|urlencode}}" alt="{{app.getName}}" /><br />
{{app.getName}}</a>
	</div>
{% endfor %}
<p class="separator">&nbsp;</p>
	<div class="utility"><a href="/content/2/"> 
		<img
	src="{% media_url %}/fast_track.png" alt="快速通道" /><br /> 
快速通道</a> 
	</div> 
<div class="utility">
<a href="http://www.bupt.edu.cn">
<img src="{% media_url %}/fullweb.png" alt="桌面网站" />
<br/>桌面网站</a>
</div>
	<div class="utility"><a href="/feedback/feature-suggestions/"> 
		<img
	src="{% media_url %}/suggestion.png" alt="功能建议" /><br /> 
功能建议</a> 
	</div>
<div class="utility">
<a href="/content/16/"> 
		<img src="{% media_url %}/about.png" alt="关于站点" />
<br />关于站点</a> 
</div> 
	</div>
{% comment %}
<p class="separator">&nbsp;</p>
{% endcomment %}
{% endblock content %}



