{% load media %}
{% load theme %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml" />
<title>{{page.local_name}}</title>
<link rel="shortcut icon" href="{% media_url %}/favicon.ico" />
<link
	href="{% media_url %}/themes/{% theme %}/common.css"
	rel="stylesheet" media="all" type="text/css" />
<link
	href="{% media_url %}/themes/{% theme %}/home.css"
	rel="stylesheet" media="all" type="text/css" />


</head>
<body>
<div id="nonfooternav"><a name="top"></a>
<h1 id="homelogo"><img src="{% media_url %}/logo.png"
	alt="{{page.local_name}}" />{{page.local_name}}</h1>
<div id="container">
{% comment %}
<div class="nonfocal" id="searchformcontainer">
<form method="get" action="search.php">
<fieldset class="inputcombo emphasized"><input
	class="forminput" type="text" id="filter" name="filter"
	placeholder="检索掌上网院" value="" onfocus="androidPlaceholderFix(this);" /><input
	class="combobutton" id="sch_btn" src="/common/images/search-button.png"
	type="image" /><input type="hidden" name="_b"
	value="%8B%AEV%2AQ%B2R%8A%29%B5%B4%B44%03%92%16%E6%A6J%3AJ9X%C4%0A%80B%99y%29%A9%15%40v%A2%92U%5EiNNm%2C%00" /></fieldset>
</form>
</div>
{% endcomment %}
<div class="springboard" id="homegrid">
{% for app in apps %}
<div><a href="{{app.getUrl}}"><img
	src="{{app.getIconUrl|urlencode}}" alt="{{app.getName}}" /><br />
{{app.getName}}</a></div>
{% endfor %}
{% comment %}
<p class="separator">&nbsp;</p>
{% endcomment %}

</div>
<div id="footer"><a href="http://www.buptnu.com.cn"
	class="copyright">&copy; 2011 北京邮电大学教育技术研究所</a></div>
</div>
</div>
<!--nonfooternav -->
</body>
</html>




