{% extends "base_app.html" %}
{% load media %}
{% load theme %}

{% block title %}{{schl.name}}{% endblock title %}

{% block navbar %}
<a href="/schl/" class="module">
	<img src="/s/schl.png" width="28" height="28" alt="返回学院列表" />
</a>
<span class="pagetitle">{{schl.name}}</span>
{% endblock navbar %}


{% block content %}

	<div class="focal">
	<h2>简要介绍</h2>
	<p>{{schl.description|safe}}</p>
	</div>

	<ul class="nav">
	<li><h2>学院机构</h2></li>
            {%if schl.telephone %}
	    <li><a href="tel:010{{schl.telephone}}" class="phone">办公室 ({{schl.telephone}})</a></li>
            {%endif%}
            {%if subdep%}
            {% for s in subdep %}
	    <li><a href="tel:010{{s.telephone}}" class="phone">{{s.name}}.{{s.building}}.{{s.room}} ({{s.telephone}})</a></li>
 			{% endfor %}
            {%endif%}   

	</ul>

</div>

{% endblock content %}