{% extends "base_app.html" %}
{% load media %}
{% load theme %}

{% block title %}意见反馈{% endblock title %}

{% block navbar %}	
<span class="pagetitle">意见反馈</span>
{% endblock navbar %}

{% block content %}
<div class="focal">
<h2></h2>
    <form name="form" action="." method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="提交" />
    <input type="reset"  value="重置">
    <input type="button" value="取消并返回" onclick="self.location.href='{{ referer }}';"/>
    </form>
</div>
{% endblock content %}