{% extends "base_app.html" %}
{% load media %}
{% load theme %}

{% block title %}{{today|date:"Y-m-d"}} 事件{% endblock title %}

{% block navbar %}

<span class="pagetitle">{{today|date:"Y-m-d"}} 事件</span>
{% endblock navbar%}

{% block content %}
<div class="nonfocal"> 
<p><a href="../../../{{previous|date:'Y/m/d'}}">&lt; {{previous|date:"Y-m-d"}}</a> | <a href="../../../{{next|date:'Y/m/d'}}">{{next|date:"Y-m-d"}}&gt;</a></p> 
</div> 
<ul class="nav">
	{% for event in events %}
        <li><a href="{{event.id}}">{{event.title}}<div class="smallprint"><i>发布时间：{{event.posted|date:"Y-m-d G:i"}}</i></div></a></li>
	{% empty %}
		<li>本日无事件，请查看明日事件</li>
	{% endfor %}
	
</ul>
{% endblock content %}
