{% extends "base_app.html" %}
{% load media %}
{% load theme %}

{% block title %}{{department.building.name}}{% endblock title %}

{% block navbar %}
<span class="pagetitle">{{department.building.name}}</span></div>
{% endblock navbar %}

{% block content %}
<div class="focal">
<script type="text/javascript">
window.addEventListener('load', function(){
setTimeout(scrollTo, 0, 0, 1);
initialize();
}, false);
</script>
<a name="scrolldown"></a>

#ABQIAAAAtekc4rRgJfK-zISh6VCP4xSp-3gf0ayVaVjPIkZaGj3URzgfrhS1seKZjB8FPfTlV8wbAje30pLiXw
{{department.name}}位于{{department.building.name}}{{department.room}}
<img src="{% load media %}{% media_url %}/department.png" height="20" width="17" alt="Marker" />
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=ABQIAAAAtekc4rRgJfK-zISh6VCP4xSp-3gf0ayVaVjPIkZaGj3URzgfrhS1seKZjB8FPfTlV8wbAje30pLiXw" type="text/javascript"></script>
<script type="text/javascript">
function initialize() {
var map = new GMap2(document.getElementById("map_canvas"));
map.setUIToDefault();
map.setCenter(new GLatLng({{department.building.latitude}},{{department.building.longitude}}), 15);
var point = new GLatLng({{department.building.latitude}},{{department.building.longitude}});
var baseIcon = new GIcon(G_DEFAULT_ICON);
baseIcon.image = "{% load media %}{% media_url %}/department.png";
baseIcon.shadow = "{% load media %}{% media_url %}/shadow.png";
baseIcon.iconSize = new GSize(32, 37);
baseIcon.shadowSize = new GSize(51, 37);
markerOptions = { icon:baseIcon };
var marker = new GMarker(point, markerOptions);
map.addOverlay(marker);
}
</script>
<div id="map_canvas" style="width: 285px; height: 235px"></div>
<a href="http://maps.google.com/maps?sll={{department.building.latitude}},{{department.building.longitude}}">在谷歌地图中浏览</a>
</div> 
{% endblock content %}
