{% extends "base_app.html" %}
{% load media %}
{% load theme %}

{% block title %}{{department.building.name}}{% endblock title %}

{% block navbar %}
<span class="pagetitle">{{department.building.name}}</span></div>
{% endblock navbar %}

{% block content %}
<div class="focal">
<div class="map"><img border="0" 
src="http://maps.google.com/maps/api/staticmap?center={{department.building.latitude}},{{department.building.longitude}}&amp;zoom=15&amp;size=275x300&amp;markers=color:blue|
{{department.building.latitude}},{{department.building.longitude}}&amp;sensor=false" alt></div>
</div> 
{% endblock content %}
