{% extends "base_app.html" %}
{% load media %}
{% load theme %}
{% load i18n %}

{% block title %}{% trans 'Buidlings List' %}{% endblock title %}

{% block navbar %}
<a href="/bmap/" class="module">
	<img src="/s/map.png" width="28" height="28" alt="{% trans 'Buidlings List' %}" />
</a>
<span class="pagetitle">{% trans 'Buidlings List' %}</span>
{% endblock navbar %}

{% block content %}
<ul class="nav">
            {% for b in buildings %}
                <li><a target="_self" href="{{b.id}}#home" class="arrow">{{b.name}}</a></li>
			{% endfor %}
</ul>
{% endblock content %}
