{% extends "base_app.html" %}
{% load media %}
{% load theme %}

{% block title %}北京邮电大学位置{% endblock title %}


{% block navbar %}
<span class="pagetitle">北京邮电大学位置</span>
{% endblock navbar %}

{% block content %}
<div class="focal">


<div class="map"><img border="0" 
src="http://maps.google.com/maps/api/staticmap?center={{building.latitude}},{{building.longitude}}&amp;zoom=15&amp;size=280x280&amp;markers=color:blue|
{{building.latitude}},{{building.longitude}}&amp;sensor=false" alt></div>

</div> 
{% endblock content %}
