{% extends "base_app.html" %}
{% load media %}
{% load theme %}
{% load i18n %}

{% block title %}{% trans 'Departments List' %}{% endblock title %}


{% block navbar %}
<a href="/bmap/" class="module">
	<img src="/s/map.png" width="28" height="28" alt="返回部门列表" />
</a>

<span class="pagetitle">管理机构列表</span>
{% endblock navbar %}


{% block content %}
<ul class="nav">
            {% for b in departments %}
                <li><a href="{{b.id}}#home">{{b.name}}</a></li>
			{% endfor %}
</ul>
{% endblock content %}
