{% extends "base_app.html" %}
{% load media %}
{% load theme %}
{% load i18n %}

{% block title %}{% trans 'BUPT Map' %}{% endblock title %}
{% block extrahead %}<script src="templates/compliant.js" type="text/javascript"></script>{% endblock extrahead %}
{% block navbar %}
<a href="/bmap/" class="module">
	<img src="/s/map.png" width="28" height="28" alt="返回部门列表" />
</a>
<span class="pagetitle">{% trans 'BUPT Map' %}</span>
{% endblock navbar %}
{% block content %}
		
<div class="nonfocal" id="searchformcontainer">
<form method="get" action="search">
<fieldset class="inputcombo emphasized">
<input class="forminput" type="text" id="filter" name="filter" placeholder="{%if error%}没找到{%else%}检索建筑和地点{%endif%}" value="" onfocus="androidPlaceholderFix(this);">
<input class="combobutton" id="sch_btn" src="/s/search-button.png" type="image">
</fieldset>
</form></div>
<h3 class="nonfocal">检索地图：</h3>

	<ul class="nav">
	<li><a target="_self" href="b#home" class="arrow">建筑物 </a></li>
	<li><a target="_self" href="d#home" class="arrow">行政机构</a></li>
	<li><a target="_self" href="s#home" class="arrow">教学单位</a></li>
    </ul>    
    
	<ul class="secondary">
	<li><a a target="_self" href="c#home" class="arrow">北邮市内交通指南</a></li>
<!-- 
	<li><a a target="_self" href="g#home" class="map">查看学校位置</a></li>
 -->
	<li><a href="http://maps.google.com/maps?f=q&q=北京邮电大学&hl=zh-CN" class="external">谷歌地图上的北邮</a></li>
	</ul>

{% endblock content %}

