{% extends "base_app.html" %}
{% load media %}
{% load theme %}
{% block title %}{{department.name}}{% endblock title %}
{% block navbar %}
<a href="/departments/" class="module">
	<img src="/s/department.png" width="28" height="28" alt="返回部门列表" />
</a>
<span class="pagetitle">{{department.name}}</span>
{% endblock navbar %}
{% block content %}
<h3 class="nonfocal">部门介绍</h3>
<div class="focal">
<p>{{department.description|safe}}</p>
</div>
<h3 class="nonfocal">办公信息</h3>
	<ul class="nav"><li>
            {%if department.website %}
			<a a target="_blank" href="{{department.website}}" class="external"><div class="smallprint">部门网站</div>{{department.website}}</a>	
            {%endif%}
		</li>
            {%if department.telephone %}
		<li><a href="tel:{{department.telephone}}" class="phone"><div class="smallprint">办公电话</div>{{department.telephone}}</a></li>
            {%endif%}
            {%if department.building %}
		<li><a href="/bmap/d/{{department.id}}" class="map"><div class="smallprint">办公地点</div>{{department.building}}.{{department.room}}</a></li>
            {%endif%}
		</ul>
          {%if subdepartments%
	<h3 class="nonfocal">科室信息</h3>
		<ul class="nav">
            {% for s in subdepartments %}
			<li><a href="tel:{{s.telephone}}" class="phone"><div class="smallprint">{{s.name}}</div>{{s.building}}.{{s.room}} 电话{{s.telephone}}</a></li>
			{%endfor%}
		</ul>
		{%endif%}
</div>
{% endblock content %}

