{% extends "base_pc.html" %}
{% load i18n %}
{% load title_field_html %}
{% load ext_query_string %}
{% load media %}
{% load theme %}
{% block title %}查看文章{% endblock %}
{% block content %}
<form name="deleteForm" action="" method="POST">{% csrf_token %}
<input type="hidden" name="__http_method" value="DELETE"/>
<input type="hidden" name="ext_query_str" value="{% ext_query_raw_string %}"/>
</form>
<table class="main" summary="view Table">
	<caption>文章详细信息</caption>
	<thead>
		<tr>
			<th colspan="2"></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th colspan="2">
				<a href="Javascript:self.location.href='../{{object.category.id}}{% if request.GET.ext_query_str %}?{{ request.GET.ext_query_str }}{% endif %}'">类别列表</a>
				<a href="!edit?id={{ object.id }}{{ request.GET.ext_query_str|encode_ext_query_string:"&" }}">编辑</a>
				<a href="Javascript:Mpp.Common.deleteConfirmUseForm('{{ object.id }}')">删除</a>
			</th>
		</tr>
	</tfoot>
	<tbody>
		<tr>
			<th>{% trans 'Title' %}:</th>
			<td>{{ object.title }}</td>
		</tr>
		<tr>
			<th>{% trans 'Type' %}:</th>
			<td>
			{% if object.type == 10 %}
				{% trans 'Normal' %}
			{% endif %}
			{% if object.type == 20 %}
				{% trans 'Article With Picture' %}
			{% endif %}
			{% if object.type == 30 %}
				{% trans 'Friend Link' %}
			{% endif %}
			</td>
		</tr>
		<tr>
			<th>{% trans 'View Times' %}:</th>
			<td>{{ object.viewTimes }}</td>
		</tr>
	</tbody>
</table>

{% endblock %}