{% extends "base_pc.html" %}
{% load i18n %}
{% load title_field_html %}
{% load ext_query_string %}
{% load media %}
{% load theme %}
{% block title %}
{% if object.category.type == 50 %}
查看链接
{% else %}
查看文章
{% endif %}
{% endblock %}
{% block content %}
<form name="deleteForm" action="" method="POST">{% csrf_token %}
<input type="hidden" name="__http_method" value="DELETE"/>
<input type="hidden" name="ext_query_str" value="{% ext_query_raw_string %}"/>
</form>
<table class="main" summary="view Table">
	<caption>
	{% if object.category.type == 50 %}
查看链接
{% else %}
查看文章
{% endif %}
	</caption>
	<thead>
		<tr>
			<th colspan="2"></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th colspan="2">
				<a href="Javascript:self.location.href='../{{object.category.id}}{% if request.GET.ext_query_str %}?{{ request.GET.ext_query_str }}{% endif %}'">类别列表</a>
				<a href="!edit?id={{ object.id }}{{ request.GET.ext_query_str|encode_ext_query_string:"&" }}">编辑</a>
				<a href="Javascript:Mpp.Common.deleteConfirmUseForm('{{ object.id }}')">删除</a>
			</th>
		</tr>
	</tfoot>
	<tbody>
		<tr>
			<th>{% trans 'Title' %}:</th>
			<td>{{ object.title }}</td>
		</tr>
		<tr>
			<th>{% trans 'Category' %}:</th>
			<td><a href="../{{ object.category.id }}">{{ object.category.name }}</a></td>
		</tr>		
		<tr>
			<th>{% trans 'Type' %}:</th>
			<td>
			{% if object.type == 10 %}
				{% trans 'Normal' %}
			{% endif %}
			{% if object.type == 20 %}
				{% trans 'Article With Picture' %}
			{% endif %}
			{% if object.type == 30 %}
				{% trans 'Friend Link' %}
			{% endif %}
			</td>
		</tr>
		{%if object.pic %}
			<th>{% trans 'Picture' %}:</th>
			<td><img src="{% media_url %}{{ object.pic.url }}"/></td>
		{% endif %}
			{% if object.type == 30 %}
		<tr>
			<th>{% trans 'Url' %}:</th>
			<td>{{ object.url }}</td>
		</tr>
			{% else %}
		<tr>
			<th>{% trans 'Content' %}:</th>
			<td>{{ object.content }}</td>
		</tr>		
			{% endif %}
		<tr>
			<th>{% trans 'Set Top' %}:</th>
			<td>{% if object.setTop == 2 %}
				{% trans 'Set Top' %}
			{% else %}
				{% trans 'Normal' %}
			{% endif %}
			</td>
		</tr>
		<tr>
			<th>{% trans 'View Times' %}:</th>
			<td>{{ object.viewTimes }}</td>
		</tr>
		<tr>
			<th>{% trans 'Created Time' %}:</th>
			<td>{{ object.created }}</td>
		</tr>
		<tr>
			<th>{% trans 'Last Modified Time' %}:</th>
			<td>{{ object.lastModified }}</td>
		</tr>
	</tbody>
</table>

{% endblock %}