{% extends "base_app.html" %}
{% load media %}
{% load theme %}
{% load i18n %}

{% block title %}{% trans 'Weather Report' %}{% endblock title %}

{% block navbar %}	
<span class="pagetitle">{% trans 'Weather Report' %}</span>
{% endblock navbar %}

{% block content %}
<div class="focal"> 
<div><h2>北京</h2>
<img style="float:right" src="{{ result.current_conditions.icon }}"/></div>
<div> 当前： {{result.current_conditions.condition}} &nbsp; {{result.current_conditions.temp_c}}℃ </div>
<div>{{result.current_conditions.wind_condition}}</div> 
<div>{{result.current_conditions.humidity}}   </div>
</div> 

<ul class="nav">
{% for entry in result.forecasts %}
<li>
<img style="float:right" src="{{ entry.icon }}"/>
<div>
{{ entry.day_of_week }}
</div>
<i class="smallprint"> {{ entry.condition }}&nbsp;&nbsp;{{ entry.low }}℃-{{ entry.high }}℃  </i></li>
{% endfor %}
</ul>

{% endblock content %}
