{% extends "base_mobile.html" %}
{% load i18n %}
{% block title %}
{% trans 'Weather Report' %}
{% endblock %}

{% block content %}
        <div class="toolbar">
            	<a href="/#home" target="_webapp" class="back">主页</a> 
                <h1>{% trans 'Weather Report' %}</h1>
                <a class="button slideup" id="infoButton" href="#about">关于</a>
            </div>
        <div class="container">
           {% for entry in entries %}
           <p>
            {{ entry.title }}<br />
			{{ entry.description }}
		   </p>
		   <br />
			{% endfor %}
         </div> 


              
{% endblock %}