{% load media %}
{% load theme %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml" />
<title>{{article.title}}</title>
<link rel="shortcut icon" href="/favicon.ico" />
<link
	href="{% media_url %}/themes/{% theme %}/common.css"
	rel="stylesheet" media="all" type="text/css" />
</head>
<body>
<div id="nonfooternav"><a name="top"></a>
<div id="navbar">
<div class="breadcrumbs homepage">
	<a name="top" href="/"
	class="homelink"><img src="{% media_url %}/themes/{% theme %}/button/homelink.png" width="57"
	height="45" alt="主页" /></a>
 	{% if category.type == 40 %}
	 	{% if category.father %}
			 <a href="/content/{{ category.father.id }}/" class="module"><img src="{% media_url %}/themes/{% theme %}/button/uplink.png" width="28" height="28" alt="返回上一级" /></a>
		{% endif %}
	{% else %}
	 		 <a href="/content/{{ category.id }}/" class="module"><img src="{% media_url %}/themes/{% theme %}/button/uplink.png" width="28" height="28" alt="返回上一级" /></a>
	{% endif %}
	<span class="pagetitle">{{article.title}}</span></div>
</div>

<div id="container">
<div class="focal">
<h2></h2>
            	<p>
            	发布时间：{{article.posted|date:"Y-m-d G:i"}}
            	</p>
            	<p>
            	{% if article.pic %}
            	<img src="{% media_url %}{{ article.pic.url|urlencode }}"/>
            	{% else %}
            	  <br />
            	{% endif %}
            	</p>
            	<p>
               {{article.content|safe}}
             </p>
</div>
<div id="footerlinks"><a href="#top">回到顶端</a> | <a href="../home/">掌上网院首页</a></div>
<div id="footer"><a href="http://www.buptnu.com.cn"
	class="copyright">&copy; 2011 北京邮电大学教育技术研究所</a></div>
</div>
</div>
<!--nonfooternav -->
</body>
</html>