{% extends "base_app.html" %}
{% load media %}
{% load theme %}

{% block title %}{{article.title}}{% endblock title %}

{% block navbar %}
{% for father in father_stack %}
<a href="/content/{{ father.id }}/" class="module">
{% if father.icon %}
	<img src="{% media_url %}{{ father.icon.url|urlencode }}" width="28" height="28" alt="{{father.name}}" />
{% else %}
	{{father.name}}
{% endif %} 
</a>
{% endfor %}	
<span class="pagetitle">{{article.title}}</span>
{% endblock navbar %}

{% block content %}
<div class="focal">
<h2></h2>
            	<p>
            	发布时间：{{article.posted|date:"Y-m-d G:i"}}
            	</p>
            	<p>
            	{% if article.pic %}
            	<img src="{% media_url %}{{ article.pic.url|urlencode }}"/>
            	{% else %}
            	  <br />
            	{% endif %}
            	</p>
            	<p>
               {{article.content|safe}}
             </p>
</div>
{% endblock content %}