{% extends "base_app.html" %}
{% load media %}
{% load theme %}

{% block title %}{{category.name}}{% endblock title %}

{% block navbar %}
{% for father in father_stack %}
	<a href="/content/{{ father.id }}/" class="module">
	{% if father.icon %}
		<img src="{% media_url %}{{ father.icon.url|urlencode }}" width="28" height="28" alt="{{father.name}}" />
	{% else %}
		{{father.name}}
	{% endif %} 
	</a>
{% endfor %}
<span class="pagetitle">{{category.name}}</span>
{% endblock navbar%}

{% block content %}
<ul class="nav">
    {% if category.type == 10 %}
            {% for c in categories %}
                <li><a href="/content/{{c.id}}/">{{c.name}}</a></li>
			{% endfor %}
    {% else %}
    	{% if category.type == 50 %}
			{% for article in articles %}
           		<li><a href="{{article.id}}">{{article.title}}</a></li>
			{% endfor %}    	
    	{% else %}
	    	{% for article in articles %}
	            <li><a href="{{article.id}}">{{article.title}}</a></li>
			{% endfor %}
    	{% endif %}
	{% endif %} 
</ul>
{% endblock content %}