{% extends "base_mobile.html" %}
{% block title %}
{{category.name}}
{% endblock %}

{% block content %}
            <div class="toolbar">
            	<a href="/" target="_webapp" class="button leftButton">主页</a> 
                <h1>{{category.name}}</h1>
                <a class="button slideup" id="infoButton" href="#about">关于</a>
            </div>
             <ul class="rounded">
    {% if category.type == 10 %}
            {% for c in categories %}
                <li class="forward"><a target="_webapp" href="/content/{{c.id}}/">{{c.name}}</a></li>
			{% endfor %}
    {% else %}
    	{% if category.type == 50 %}
			{% for article in articles %}
           		<li class="forward"><a target="_blank" href="{{article.id}}">{{article.title}}</a></li>
			{% endfor %}    	
    	{% else %}
	    	{% for article in articles %}
	            <li class="forward"><a target="_webapp" href="{{article.id}}">{{article.title}}</a></li>
			{% endfor %}
    	{% endif %}
	{% endif %} 
            </ul>     
            
	 	{% if category.father %}
			 <a href="/content/{{ category.father.id }}/" class="grayButton" target="_webapp">返回 {{category.father.name}}</a>
		{% endif %}
{% endblock %}
