{% extends "base_mobile.html" %}
{% load i18n %}
{% block title %}
{{entry.title}}
{% endblock %}

{% block content %}
            <div class="toolbar">
            	<a href="/" target="_webapp" class="button leftButton">主页</a> 
                <h1>{{entry.title}}</h1>
                <a class="button slideup" id="infoButton" href="#about">关于</a>
            </div>
            
            <div class="container">
            	<p>
                {{entry.description|safe}}
                </p>
                <br />
                <p>
                <a href="{{entry.link}}" target="_blank">{% trans "Please click here to visit full aricle." %}</a>
                </p> 
             </div>   
			 <a href="/content/{{ category.id }}/" class="grayButton" target="_webapp">返回 {{category.name}}</a>
               
                

{% endblock %}