{% extends "base_app.html" %}
{% load media %}
{% load theme %}

{% block title %}{{feed.title}}{% endblock title %}

{% block navbar %}
{% for father in father_stack %}
	<a href="/content/{{ father.id }}/" class="module">
{% ifequal style_group "groups-smart" %}
{% if father.icon %}
	<img src="{% media_url %}{{ father.icon.url|urlencode }}" width="28" height="28" alt="{{father.name}}" />
{% else %}
	{{father.name}}{% endif %}{% else %}{{father.name}}{% endifequal %}</a>
{% endfor %}
<span class="pagetitle">{{feed.title}}</span>
{% endblock navbar%}

{% block content %}
<ul class="nav">
   {% for entry in entries %}
        <li><a href="./{{entry.url_hash}}">{{entry.title}}</a></li>
	{% endfor %}
</ul>
{% endblock content %}
