{% extends "base_mobile.html" %}
{% block title %}
{{feed.title}}
{% endblock %}

{% block content %}
            <div class="toolbar">
            	<a href="/#home" target="_webapp" class="button leftButton">主页</a> 
                <h1>{{feed.title}}</h1>
                <a class="button slideup" id="infoButton" href="#about">关于</a>
            </div>
             <ul class="rounded">
           {% for entry in entries %}
                <li class="forward"><a target="_webapp" href="./{{entry.url_hash}}">{{entry.title}}</a></li>
			{% endfor %}
            </ul>  
{% endblock %}